@charset 'UTF-8';




/*大赛奖品*/
.prize-item{
    margin-top:12px;
}
.prize-item h3{
    height:100px;
    text-indent:-999px;
    overflow:hidden;
    background:url("../images/prize_h3.png") no-repeat center;
}
.prize-list li{
    display:inline-block;
    float:left;
    width:200px;
    margin:0 25px;
}
.prize-list li a{
    display:inline-block;
    width:200px;
    height:210px;
    padding-bottom:20px;
}
.btn-prize span{
    background:#4a4270;
}

.iPhone6plus{
    background:url("../images/iphone6plus.png") no-repeat center;
}
.iPhone6{
    background:url("../images/iphone6.png") no-repeat center;
}
.ipadmini{
    background:url("../images/ipadmini.png") no-repeat center;
}

.pr-name-wp{
    text-align:center;
}
.pr-name{
    display:inline-block;
    text-align:center;
    margin-top:-20px;
    color:#625799;
    line-height:26px;
    padding:0 10px;
    position:relative;
    z-index:2;
    background:#171133;
}
.pr-name em{
    font-size:22px;
    color:#fff;
}

.star{
    height:134px;
    background:url("../images/star.png") no-repeat center;
}