<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>参赛须知-2014科大讯飞教育产品创意大赛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="template/home/static/common/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="template/home/static/common/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="template/home/static/entries/css/entries.css"/>
    <script src="js/common/jquery-1.11.0/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="template/home/static/common/js/bootstrap.js"></script>
    <script type="text/javascript" src="template/home/static/common/js/navbar.js"></script>
    <script type="text/javascript" src="template/home/static/common/js/index.js"></script>
    <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="template/home/static/common/css/hack.css"/>
    <div class="ie7">
        还在用IE8及以下版本，你OUT啦！请您升级您的浏览器或者使用firefox,chrome,safari,opera最新版本<a target="_blank"
                                                                         href="http://windows.microsoft.com/zh-cn/internet-explorer/ie-8-worldwide-languages">点击升级</a>，谢谢！
    </div>
    <![endif]-->
</head>
<body>
<!--Header-->
<div class="header navbar-fixed-top">
    <div class="header_con clearfix">
        <div class="logo fl"><a href="javascript:;" title="2014科大讯飞教育产品创意大赛"><img
                src="template/home/static/common/images/logo.png" alt=""></a></div>
        <div class="top_menu fr">
            <ul>
                <li >
                    <a href="./index.php?c=main&a=index" title="首页">首页</a>
                </li>
                <li class="me_active">
                    <a href="./index.php?c=main&a=vote_notice" title="参赛须知">参赛须知</a>
                </li>
                <li>
                    <a href="./index.php?c=main&a=work_vote" title="入围作品投票">入围作品投票</a>
                </li>
                <li>
                    <a href="./index.php?c=main&a=vote_result" title="赛果揭晓">赛果揭晓</a>
                </li>
                <li>
                    <a href="./index.php?c=main&a=dep_intro" title="畅言教具产品介绍">畅言教育产品介绍</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--Header-->

<!--Main-->
<div class="main">
    <div class="slogan">
        <div class="btnbox">
            <a class="btn btn-reg" href="javascript:;" title="报名-点我、点我">
                <span class="line-1"></span>
                <span class="line-2"></span>
                <span class="line-3"></span>
                <span class="line-4"></span>
            </a>
        </div>
    </div>
    <div class="reg-step-item">
        <ul class="menu-sub clearfix">
            <li id="n1"><a href="./index.php?c=main&a=index" title="首页">首页</a></li>
            <li class="active"  id="n2"><a href="./index.php?c=main&a=vote_notice" title="参赛须知">参赛须知</a></li>
            <li id="n3"><a href="./index.php?c=main&a=work_vote" title="入围作品投票">入围作品投票</a></li>
            <li id="n4"><a href="./index.php?c=main&a=vote_result" title="赛果揭晓">赛果揭晓</a></li>
            <li id="n5"><a href="./index.php?c=main&a=dep_intro" title="畅言教具产品介绍">畅言教育</br>产品介绍</a></li>
        </ul>
    </div>
    <div class="contain">
        <div class="label">
            <span class="label_img"><img src="template/home/static/entries/images/label.png"></span>
        </div>
        <div class="background">
            <span class="title">大赛背景</span>

            <p>本次大赛旨在发掘、传播教育信息化方面的优秀产品设计，为教师、学生、家长、教育管理者提供更加便捷、易用、高效的信息化产品。</p>
        </div>
        <div class="object">
            <span class="title">参赛对象</span>

            <p>全体讯飞人</p>
        </div>
        <div class="ask">
            <span class="title">作品要求</span>

            <p>1、参赛者提交作品须为原创作品；<br/>
                2、产品类型为教育信息化产品，可以是软硬件产品，也可以是一种运营方案或商业模式；<br/>
                3、产品的使用者可以是教师、学生、家长或教育管理者，产品的应用场景不限，既可以与工作相关也可以与课余生活相关；<br/>
                4、可从产品的功能、设计、应用场景、商业模式等方面进行创新；<br/>
                5、作品需提交一份1000字以内的文字介绍，并可配有图片、PPT等附件加以说明。</p>
        </div>
        <div class="submit">
            <span class="title">作品提交方式</span>

            <p>1、打包作品<br/>
                参赛作品应放置到同一个文件夹，以“作品主题+参赛者姓名+联系电话”命名，并使用WinRAR或7-Zip压缩软件压缩打包。<br/>
                2、发送作品<br/>
                使用公司电子邮箱发送，邮件主题需与作品文件包命名一致；上传作品文件包作为邮件附件；邮件正文必需填写参赛者信息。
            </p>
            <table>
                <tbody>
                <tr>
                    <th>姓名</th>
                    <th>部门</th>
                    <th>岗位</th>
                    <th>作品名称</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                </tbody>
            </table>
            <p>电子邮件请发送至大赛指定邮箱：<a href="mailto:epd_cpcy@iflytek.com">epd_cpcy@iflytek.com </a></p>
        </div>
        <div class="path">
            <span class="title">赛事流程</span>

            <div>
                <img src="template/home/static/entries/images/line.png">
            </div>
            <div class="des clearfix">
                <div class="first fl">
                    <h3>第一轮</h3>
                    <span>海选阶段，由评委组评选出入围作品；</span>
                </div>
                <div class="second fl">
                    <h3>第二轮</h3>
                    <span>网络投票，入围作品将在线接受大众(全体讯飞人)投票，并根据投票结果推选出决赛作品及人气奖作品；</span>
                </div>
                <div class="third fl">
                    <h3>第三轮</h3>
                    <span>决赛，由专家评审团对作品进行综合打分，并评选出“创意之星、银奖、铜奖三个奖项。</span>
                </div>
            </div>
        </div>
        <div class="standard">
            <span class="title">评审标准</span>

            <p>1、立意明确，符合教育信息化产品的发展特点；<br/>
                2、创意新颖，满足产品的基本要素；<br/>
                3、符合市场需求，具有应用前景。
            </p>
        </div>
        <div class="prize">
            <span class="title">奖项设置</span>

            <p>大赛共设置“创意之星、银奖、铜奖、人气奖、入围作品”共五个级别奖项，除“人气奖”由网络投票环节得票数最高者获得外，其余等级奖项均由大赛评委组及专家评审团打分综合计算所得。<br/>
                本大赛各奖项的奖品和数量如下：<br/>
                <strong><span>创意之星1名</span>&nbsp;&nbsp;&nbsp;&nbsp;Apple iPhone6 plus<br/> </strong>
                <strong><span>银奖1名</span>&nbsp;&nbsp;&nbsp;&nbsp; Apple iPhone6<br/> </strong>
                <strong><span>铜奖3名</span>&nbsp;&nbsp;&nbsp;&nbsp; Apple iPad mini<br/> </strong>
                <strong><span>人气奖1名</span>&nbsp;&nbsp;&nbsp;&nbsp; Apple iPad mini<br/> </strong>
                教育产品创意库入围作品 一经采用，即予奖励。即在教育产品中得到实际使用后，给予现金奖励。获奖作品不再重复奖励。<font> 500元 现金大奖</font>
            </p>
        </div>
        <div class="data">
            <span class="title">大赛时间安排</span>
            <ul class="reg-step clearfix">
                <li class="reg_schema_step_1">
                <span class="reg-step-01" title="作品征集">
                    <i></i>
                </span>
                </li>
                <li class="reg_schema_step_2">
                <span class="reg-step-02" title="作品海选">
                    <i></i>
                </span>
                </li>
                <li class="reg_schema_step_3">
                <span class="reg-step-03" title="入围作品投票">
                    <i></i>
                </span>
                </li>
                <li class="reg_schema_step_4">
                <span class="reg-step-04" title="作品PK大赛">
                    <i></i>
                </span>
                </li>
                <li class="reg_schema_step_5">
                <span class="reg-step-05" title="赛果揭晓">
                    <i></i>
                </span>
                </li>
            </ul>
        </div>
    </div>
    <div class="other">
        <em></em>
        <label>其它事项</label>

        <p>1、所有参赛者同意：对于参赛作品，主办方有权以各种形式或按主办方的需求对参赛作品自行适当修改后，免费进行使用；主办方的前述使用及修改期
            限不受限制，同时，参赛者不可再将前述入围网络投票环节的参赛作品，以任何形式授权他方使用。<br/>
            2、该比赛由科大讯飞教育产品事业部主办，主办方有权决定比赛时间、流程等，并保留对上述规则进行解释的权利。</p>
    </div>
    <div class="index-tags">
        <p class="star"></p>
    </div>
    <span id="indexg0" class="sha-con1"></span>
    <span id="indexg1" class="sha-con2"></span>
    <span id="indexg2" class="sha-con3"></span>
    <span id="indexg3" class="sha-con4"></span>
</div>
<!--Main-->
<!--Footer-->
<div class="footer">
    <p class="copyright">主办方：科大讯飞 教育产品事业部 协办方：教育文化建设小组</p>
</div>
<!--Footer-->
</div>
<script type="text/javascript" >
    $(function() {
        function compareDateBigger(date1,date2){
            var d1 = new Date(date1.replace("-","/"));
            var d2 = new Date(date2.replace("-","/"));
            if(d1 > d2) {
                return true;
            } else{
                return false;
            }
        }

        function compareDateLittle(date1,date2){
            var d1 = new Date(date1.replace("-","/"));
            var d2 = new Date(date2.replace("-","/"));
            if(d1 < d2) {
                return true;
            } else{
                return false;
            }
        }

        var today = new Date().getFullYear()+'-' + (new Date().getMonth()+1) + '-' + new Date().getDate();
        $.post('./index.php?c=work_mgr&a=view_schema',null,function(ret) {
            var currentIndex = 0;
            var retObj = JSON.parse(ret);
            for(var i=0;i<retObj.length;i++) {
                if(!compareDateLittle(today,retObj[i]['cpt_start_time']) && !compareDateBigger(today,retObj[i]['cpt_end_time'])) {
                    currentIndex = retObj[i]['cpt_index'];
                    break;
                }
            }

            $('.reg_schema_step_'+currentIndex).addClass('active');
            console.log(currentIndex);
        });
    });
</script>
</body>
</html>
