<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="static/common/css/base.css"/>
<link rel="stylesheet" type="text/css" href="static/common/css/common.css"/>
<title>页头-2014科大讯飞教育产品创意大赛</title>
</head>
<body>
<!--Header-->
<div class="header">
    <div class="header_con clearfix">
        <div class="logo fl"><a href="javascript:;" title="2014科大讯飞教育产品创意大赛"><img src="static/common/images/logo.png" alt=""></a></div>
        <div class="top_menu fr">
            <ul>
                <li class="me_active">
					<a href="reutrn false" onclick="window.top.location.href='index.html'" title="首页">首页</a>
				</li>
                <li>
					<a href="reutrn false" onclick="window.top.location.href='entries.html'" title="参赛须知">参赛须知</a>
				</li>
                <li>
					<a href="reutrn false" onclick="window.top.location.href='shortlisted.html'" title="入围作品投票">入围作品投票</a>
				</li>
                <li>
					<a href="reutrn false" onclick="window.top.location.href='results.html'" title="赛果揭晓">赛果揭晓</a>
				</li>
                <li>
					<a href="reutrn false" onclick="window.top.location.href='into.html'" title="畅言教具产品介绍">畅言教育产品介绍</a>
				</li>
            </ul>
        </div>
    </div>
</div>
<!--Header-->
</body>
</html>
