<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>首页-2014科大讯飞教育产品创意大赛</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" type="text/css" href="template/home/static/common/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="template/home/static/common/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="template/home/static/index/css/index.css"/>
    <script src="js/common/jquery-1.11.0/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="template/home/static/common/js/bootstrap.js"></script>
    <script type="text/javascript" src="template/home/static/common/js/navbar.js"></script>
    <script type="text/javascript" src="template/home/static/common/js/index.js"></script>
    <!--[if lte IE 8]>
    <link rel="stylesheet" type="text/css" href="template/home/static/common/css/hack.css"/>
    <div class="ie7">
        还在用IE8及以下版本，你OUT啦！请您升级您的浏览器或者使用firefox,chrome,safari,opera最新版本<a target="_blank"
                                                                         href="http://windows.microsoft.com/zh-cn/internet-explorer/ie-8-worldwide-languages">点击升级</a>，谢谢！
    </div>
    <![endif]-->
</head>
<body>
<!--Header-->
<div class="header navbar-fixed-top">
    <div class="header_con clearfix">
        <div class="logo fl"><a href="javascript:;" title="2014科大讯飞教育产品创意大赛"><img
                src="template/home/static/common/images/logo.png" alt=""></a></div>
        <div class="top_menu fr">
            <ul>
                <li class="me_active">
                    <a href="./index.php?c=main&a=index" title="首页">首页</a>
                </li>
                <li>
                    <a href="./index.php?c=main&a=vote_notice" title="参赛须知">参赛须知</a>
                </li>
                <li>
                    <a href="./index.php?c=main&a=work_vote" title="入围作品投票">入围作品投票</a>
                </li>
                <li>
                    <a href="./index.php?c=main&a=vote_result" title="赛果揭晓">赛果揭晓</a>
                </li>
                <li>
                    <a href="./index.php?c=main&a=dep_intro" title="畅言教具产品介绍">畅言教育产品介绍</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!--Header-->

<!--Main-->
<div class="main">
    <div class="slogan">
        <div class="btnbox">
            <a class="btn btn-reg" href="mailto:epd_cpcy@iflytek.com" title="报名-点我、点我">
                <span class="line-1"></span>
                <span class="line-2"></span>
                <span class="line-3"></span>
                <span class="line-4"></span>
            </a>
        </div>
    </div>
    <div class="reg-step-item">
        <ul class="menu-sub clearfix">
            <li class="active" id="n1"><a href="./index.php?c=main&a=index" title="首页">首页</a></li>
            <li id="n2"><a href="./index.php?c=main&a=vote_notice" title="参赛须知">参赛须知</a></li>
            <li id="n3"><a href="./index.php?c=main&a=work_vote" title="入围作品投票">入围作品投票</a></li>
            <li id="n4"><a href="./index.php?c=main&a=vote_result" title="赛果揭晓">赛果揭晓</a></li>
            <li id="n5"><a href="./index.php?c=main&a=dep_intro" title="畅言教具产品介绍">畅言教育</br>产品介绍</a></li>
        </ul>
        <ul class="reg-step clearfix">
            <li>
                <span class="reg-step-01" title="作品征集">
                    <i></i>
                </span>
            </li>
            <li class="active">
                <span class="reg-step-02" title="作品海选">
                    <i></i>
                </span>
            </li>
            <li>
                <span class="reg-step-03" title="入围作品投票">
                    <i></i>
                </span>
            </li>
            <li>
                <span class="reg-step-04" title="作品PK大赛">
                    <i></i>
                </span>
            </li>
            <li>
                <span class="reg-step-05" title="赛果揭晓">
                    <i></i>
                </span>
            </li>
        </ul>
    </div>
    <div class="prize-item">
        <h3>大赛奖品</h3>
        <ul class="prize-list clearfix">
            <li>
                <a class="btn btn-prize iPhone6plus" href="javascript:;" title="iPhone6 plus">
                    <span class="line-1"></span>
                    <span class="line-2"></span>
                    <span class="line-3"></span>
                    <span class="line-4"></span>
                </a>

                <div class="pr-name-wp"><span class="pr-name"><em>创意之星1名</em></br>Apple iPhone6 plus</span></div>
            </li>
            <li>
                <a class="btn btn-prize iPhone6" href="javascript:;" title="iPhone6">
                    <span class="line-1"></span>
                    <span class="line-2"></span>
                    <span class="line-3"></span>
                    <span class="line-4"></span>
                </a>

                <div class="pr-name-wp"><span class="pr-name"><em>银奖1名</em></br>Apple iPhone6</span></div>
            </li>
            <li>
                <a class="btn btn-prize ipadmini" href="javascript:;" title="ipad mini">
                    <span class="line-1"></span>
                    <span class="line-2"></span>
                    <span class="line-3"></span>
                    <span class="line-4"></span>
                </a>

                <div class="pr-name-wp"><span class="pr-name"><em>铜奖3名</em></br>Apple ipad mini</span></div>
            </li>
            <li>
                <a class="btn btn-prize ipadmini" href="javascript:;" title="ipad mini">
                    <span class="line-1"></span>
                    <span class="line-2"></span>
                    <span class="line-3"></span>
                    <span class="line-4"></span>
                </a>

                <div class="pr-name-wp"><span class="pr-name"><em>人气奖1名</em></br>Apple ipad mini</span></div>
            </li>
        </ul>
    </div>
    <div class="index-tags">
        <p class="star"></p>
    </div>
    <span id="indexg0" class="sha-con1"></span>
    <span id="indexg1" class="sha-con2"></span>
    <span id="indexg2" class="sha-con3"></span>
    <span id="indexg3" class="sha-con4"></span>
    <!--Footer-->
    <div class="footer">
        <p class="copyright">主办方：科大讯飞 教育产品事业部 协办方：教育文化建设小组</p>
    </div>
    <!--Footer-->
</div>
<!--Main-->
<script type="text/javascript">

</script>
</body>
</html>

