<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="static/common/css/base.css"/>
    <link rel="stylesheet" type="text/css" href="static/common/css/common.css"/>
    <link rel="stylesheet" type="text/css" href="static/pop/css/pop.css"/>
    <title>首页-2014科大讯飞教育产品创意大赛</title>
</head>
<body>
<!--pop-->
<div class="pop_bg"></div>
<div class="pop">
    <div class="pop_img">
        <a href="javascript:void(sho_dalog.close());" title="关闭"><img src="static/pop/images/close.png"></a>
    </div>
</div>
<!--pop-->
</body>

