@charset 'UTF-8';
.ie7{
    width:100%;
    height:22px;
    background:#323436;
    color:#999;
    line-height:22px;
    position:fixed;
    top:0;
    left:0;
    text-indent:20px;
    z-index:9999;
}.ie7 a{
    color:#fff;
}

#errorie{
    height:30px;
    background:#FCF8E3;
}
#errorie div{
    width:900px;
    margin:0 auto;
    line-height:26px;
    color: orange;
    font-size: 14px;
}
#errorie div a{
    color:#459f79;
    font-size: 14px;
}
#errorie div a:hover{
    text-decoration:underline;
}
