<style type="text/css">
    .control-group label{
        width: 150px;
        display: inline-block;
        text-align: right;
    }

    .control-group input{
        margin-top: 8px;
    }
</style>
<div>
    <div class="control-group">
        <label class="control-label" for="work_name" >姓名：</label>
        <input type="text" class="input-xlarge" id="work_name" />
    </div>
    <div class="control-group">
        <label class="control-label" for="work_dep">部门：</label>
        <input type="text" class="input-xlarge" id="work_dep" />
    </div>
    <div class="control-group">
        <label class="control-label" for="work_pos">岗位：</label>
            <input type="text" class="input-xlarge" id="work_pos" />
    </div>
    <div class="control-group">
        <label class="control-label" for="work_mail">邮箱：</label>
            <input type="text" class="input-xlarge" id="work_mail" />
    </div>

    <div class="control-group">
        <label for="work_des">作品简介：</label>
            <textarea class="input-xlarge" id="work_des" rows="2" style="width: 80%;resize: none;"></textarea>
    </div>

    <div class="control-group">
        <label class="control-label" for="work_images">上传图片：</label>
        <input type="file" id="work_images" />
    </div>

    <div class="control-group">
        <label class="control-label" for="work_zip">上传附件（zip包）：</label>
        <input type="file" id="work_zip" />
    </div>



    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Create</button> <button class="btn">Cancel</button>
    </div>
</div>
<script type="text/javascript" >
    seajs.config({
        alias : {
            'addwork' : 'index/addwork'
        },
        preload : [ 'addwork' ],
        debug : 0
        // 0: 只输出少量信息 1：输出大量信息 2：对已加载的文件不进行                                           缓存
    });
    seajs.use('index/addwork', function(addwork){
        addwork.init();
    });
</script>
