<style type="text/css">
    .control-group label{
        width: 50px;
        display: inline-block;
        text-align: right;
    }

    .control-group input{
        margin-top: 8px;
        margin-right: 10px;
    }

    .star {
        color: red;
        font-size: 15px;
    }
</style>
<div id="reward_item_panel">

</div>
<div class="form-actions">
    <button type="submit" class="btn btn-primary" id="btn_item_add">添加奖项</button>
    <button class="btn" id="btn_item_update">提交修改</button>
</div>
<script type="text/javascript" >
    seajs.config({
        alias : {
            'reward_item' : 'index/reward_item'
        },
        preload : [ 'reward_item' ],
        debug : 0
        // 0: 只输出少量信息 1：输出大量信息 2：对已加载的文件不进行                                           缓存
    });
    seajs.use('index/reward_item', function(reward_item){
        reward_item.init();
    });
</script>