<div>
    <div id="schema_table">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>
                    阶段名
                </th>
                <th>
                    开始时间
                </th>
                <th>
                    结束时间
                </th>
            </tr>
            </thead>
            <tbody id="schema_tbody">

            </tbody>
        </table>
    </div>
</div>
<script type="text/javascript" >
    seajs.config({
        alias : {
            'viewschema' : 'index/viewschema'
        },
        preload : [ 'viewschema' ],
        debug : 0
        // 0: 只输出少量信息 1：输出大量信息 2：对已加载的文件不进行                                           缓存
    });
    seajs.use('index/viewschema', function(viewschema){
        viewschema.init();
    });
</script>
